sentence_transformers
modelscope
faiss-cpu
scikit-learn
langchain
langchain-community
langchain-huggingface
PyQt6
PyQt6-WebEngine
markdown
pymdown-extensions
zhconv
openai
langchain
pypdf
pdf2image
pytesseract
Pillow
langdetect
python-dotenv
tiktoken
magic-pdf